

nav{
    background-color: white;

}

.logo{
    margin-left: 5%;
}

h6{
    color: black;
}

h5{
    color: black;
}

.right{
    margin-right: 6%;
}

.logo-text{
    margin-top: 22px;
    float: right;
    margin-inline-start: 15px;
}

.btn-small{
    background: #315AF2;
    border-radius: 6px;
    text-transform: none;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background: #6283f5;
}

.text-font{
    font-family: Circe Rounded;
    font-weight: bold;
}