{% extends 'base.html' %}

{% block uload %}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

{% endblock %}

{% block title %}

    Add article

{% endblock %}

{% block content %}
    <div class="add-post container">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

                <input placeholder="Введите название" type="text" name="title" maxlength="350" required="" id="id_title">

{#                <textarea placeholder="Введите текст статьи" name="text" cols="40" rows="10" maxlength="10000" required="" id="id_text"></textarea>#}

                <textarea id="summernote" name="text" maxlength="10000" required=""></textarea>

                <p><input type="file" name="image" accept="image/*" id="id_image"></p>

            <input type="submit" name="Save">

        </form>

    </div>

    <script>
        $(document).ready(function() {
            $('#summernote').summernote({
                placeholder: 'Введите текст',
                tabsize: 2,
                toolbar: [
                  ['style', ['style']],
                  ['font', ['bold', 'underline', 'clear']],
                  ['color', ['color']],
                  ['para', ['ul', 'ol', 'paragraph']],
                  ['table', ['table']],
                  ['view', ['fullscreen', 'codeview']]
                ]
            });
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

{% endblock %}