{% extends 'base.html' %}

{% block title %}

    Main page

{% endblock %}

{% block uload %}
    <style>

        .title-p{
            color: #315AF2;
            margin: 0%;
            font-size: 44px;
            line-height: 128%;
        }

    </style>
{% endblock %}

{% block content %}



    <div class="row">

            {% for article in post %}

                {% if article == post.0 %}

                    <div class="bordered_first col s12 m12 l12 xl12 text-font">

                        <div class="row">

                            <div class="col s6 m6 l6 xl6">
                                <p style="color: red; ">NEW</p>

                                <p class="title-p">{{article.title}}</p>

                                <div style="overflow: hidden; height: 130px">

                                    {{ article.text | safe | slice:":580" }}...

                                </div>
                                <div>

                                    <a class="waves-effect waves-light btn-large text-font" href="{% url 'article' article.id %}">Читать</a>

                                </div>

                            </div>

                            <div style="text-align:center;" class="col s6 m6 l6 xl6" >

                                {% if article.image %}

                                    <img src="{{ MEDIA_URL }}{{ article.image.url }}">

                                {% endif %}

                            </div>

                        </div>

                    </div>

                    <div style="">

                        <h5 class="text-font" style="color: #315AF2">Другие статьи</h5>

                    </div>


                {% else %}

                    <div class="col s12 m6 l4 xl4 text-font">

                            <div class="bordered_second text-font">
                                <a href="{% url 'article' article.id %}">
                                    <div class="" style="color: #979797; position: absolute">

                                        {{ article.date }}

                                    </div>

                                    <div style="height: 140px; overflow: hidden; display: block; margin-left: auto; margin-right: auto" class="main-image">

                                        {% if article.image %}

                                            <img src="{{ MEDIA_URL }}{{ article.image.url }}">

                                        {% endif %}

                                    </div>

                                    <div style="margin: 30px; text-align: center; font-size: 24px;line-height: 120%;align-items: center;text-align: center;letter-spacing: -0.416667px;">

                                        <p style="font-size: 24px;" class="title-p">

                                            {{article.title}}

                                        </p>

                                    </div>
                                </a>
                            </div>


                    </div>

                {% endif %}

            {% endfor %}

        </div>








{% endblock %}