{% extends 'base.html' %}


{% block uload %}

    <style>

        body{
            background-color: #EEEEEE;
        }

        p{
            background-color: #EEEEEE !important;
        }

    </style>

{% endblock %}

{% block title %}

    Article

{% endblock %}

{% block content %}

        <div id="post-info">

            <h4 style="color: #315AF2;" class="post-text text-font">{{ article.title | safe}}</h4>

            {% if article.image %}

                <div class="post-image"><img style="display: block; margin-left: auto; margin-right: auto" src="{{ MEDIA_URL }}{{ article.image.url }}"></div>

            {% endif %}

            <div class="post-text text-font">

                <p>{{ article.text | safe }}</p>

            </div>

        </div>

    </div>

{% endblock %}