{% extends 'base.html' %}


{% block uload %}

    <style>

        body{
            background-color: #EEEEEE;
        }

    </style>

{% endblock %}

{% block title %}

    Article

{% endblock %}

{% block content %}

        <div class="center-align">

            <h4 style="color: #315AF2;" class="post-text">{{ article.title | safe}}</h4>

            {% if article.image %}

                <img src="{{ MEDIA_URL }}{{ article.image.url }}" class="post-image">

            {% endif %}

            <div class="post-text">

                <p>{{ article.text | safe }}</p>

            </div>

        </div>

    </div>

{% endblock %}